<!-- <p>register-user works!</p> -->
<div class="contenedor">
    <form [formGroup]="myForm" >
        <div class="container-fluid">
            <div class="divImg">
                <img src="https://www.recibirfax.com/img/grupos.png" alt="homepage" class="logo" />
            </div>
            <div class="card">
                <h5 class="card-header cardHeader">Registro de usuarios</h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="inputId">Id</label>
                                <div class="input-group">
                                    <input type="text" id="inputId" class="form-control" placeholder="Id" name="name"
                                        [(ngModel)]="modelUser.id" formControlName="id">
                                </div>
                                <div
                                    *ngIf="myForm.controls['id'].invalid && (myForm.controls['id'].dirty || myForm.controls['id'].touched)">
                                    <p style="color: red;" *ngIf="myForm.get('id').hasError('required')">Debe
                                        ingresar el id</p>
                                    <p style="color: red;" *ngIf="myForm.get('id').hasError('minlength')">
                                        Minimo 1
                                        caracter</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputNombre">Nombre</label>
                                <div class="input-group">
                                    <input type="text" id="inputNombre" class="form-control" placeholder="Nombre"
                                        name="name" [(ngModel)]="modelUser.nombre" formControlName="nombre">
                                </div>
                                <div
                                    *ngIf="myForm.controls['nombre'].invalid && (myForm.controls['nombre'].dirty || myForm.controls['nombre'].touched)">
                                    <p style="color: red;" *ngIf="myForm.get('nombre').hasError('required')">El Nombre
                                        es
                                        requerido</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputApellido">Apellido</label>
                                <div class="input-group">
                                    <input type="text" id="inputApellido" class="form-control" placeholder="Apellido"
                                        name="name" [(ngModel)]="modelUser.apellido" formControlName="apellido">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <div class="input-group">
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Email"
                                        name="name" [(ngModel)]="modelUser.email" formControlName="email">
                                </div>
                                <div
                                    *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)">
                                    <p style="color: red;" *ngIf="myForm.get('email').hasError('required')">Debe
                                        ingresar el Email </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="tipoDeUsuario">Tipo de usuario</label>
                                <select class="form-control" placeholder="Tipo usuario" id="tipoDeUsuario"
                                    name="tipoDeUsuario"
                                    [(ngModel)]="modelUser.tipoDeUsuario"                    
                                    formControlName="tipoDeUsuario"
                                    [compareWith]="compare">                              
                                    <option value="undefined">--Seleccionar tipo de usuario--</option>
                                    <option *ngFor="let item of listTypeUser" [value]="item.nombre">
                                        {{ item.nombre }}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="inputUsuario">Usuario</label>
                                <div class="input-group">
                                    <input type="text" id="inputUsuario" class="form-control" placeholder="Usuario"
                                        name="usuario" [(ngModel)]="modelUser.usuario" formControlName="usuario">
                                </div>
                                <div
                                    *ngIf="myForm.controls['usuario'].invalid && (myForm.controls['usuario'].dirty || myForm.controls['usuario'].touched)">
                                    <p style="color: red;" *ngIf="myForm.get('usuario').hasError('required')">El usuario
                                        es
                                        requerido</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="inputPassword4" name="password"
                                    placeholder="Contraseña" 
                                    [(ngModel)]="modelUser.password"
                                    formControlName="password" [formGroup]="myForm" required>
                            </div>
                            <div
                                *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)">
                                <p style="color: red;" *ngIf="myForm.get('password').hasError('required')">La
                                    contraseña es
                                    requerida</p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="centrarBotones">
                        <button class="btnSave btn btn-lg btn-default" type="button" title="Registrarme"
                            (click)="saveData()">
                            <i class="fa fa-floppy-o"></i> Registrar
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>