@media screen and (min-width:768px) and (max-width:4000px){
    .contenedor {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }.card {
      -webkit-box-shadow: 3px 3px 18px -11px rgba(35,44,73,0.57);
      -moz-box-shadow: 3px 3px 18px -11px rgba(35,44,73,0.57);
      box-shadow: 3px 3px 18px -11px rgba(35,44,73,0.57);
      border-radius: 17px;
      width: 850px;
    }.cardHeader {
      /* background-color: #EF7100; */
      color: #232C49;
      border-top-left-radius: 17px;
      border-top-right-radius: 17px;
      font-size: 20px;
      text-align: center;
  }/*.container-fluid{
    justify-content: center;
    align-items: center;
  }*/
  .btnSave {
    background-color:#232C49;
    border-radius: 10px;
    color: #ffffff;
  }
.logo{
    width: 175px;
    height: 57px;
  }.divImg{
    text-align: center;
    padding-bottom: 35px;
  }.centrarBotones{
    text-align: center;
  }.btnSave:hover {
    background-color: #EF7100;
    border-radius: 10px;
 }agm-map {
  height: 300px;
}.btnMapaColor {
  background-color:#232C49;
  color: #ffffff;
}.btnMapaColor:hover {
  background-color: #EF7100;
  color: #ffffff;
}

}

/* para dispositivos */
@media screen and (min-width:250px) and (max-width:767px){
  .contenedor {
    padding-top: 7px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}.card {
    -webkit-box-shadow: 3px 3px 18px -11px rgba(35,44,73,0.57);
    -moz-box-shadow: 3px 3px 18px -11px rgba(35,44,73,0.57);
    box-shadow: 3px 3px 18px -11px rgba(35,44,73,0.57);
    border-radius: 17px;
  }.cardHeader {
    color: #232C49;
    border-radius: 17px;
    font-size: 20px;
    text-align: center;
}/*.container-fluid{
  justify-content: center;
  align-items: center;
}*/
.btnSave {
  background-color:#232C49;
  border-radius: 10px;
  color: #ffffff;
}
.btnSave:hover {
  background-color: #EF7100;
  border-radius: 10px;
}.logomivolconaranja{
  width: 170px;
  height: 54px;
}.divImgMivolco{
  text-align: center;
  padding-bottom: 35px;
}.centrarBotones{
  text-align: center;
}

}