<!-- <p>usuarios works!</p> -->
<!-- <p>headquarter works!</p> -->
<br>
<div>
    <button class="btnAddSede btn btn-info" title="Agregar nuevo usuario" [routerLink]="['/register-user/new']">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>
<br>

<div class="form-row">
    <div class="col-lg-12">
        <input class="form-control" id="myInput" type="text" placeholder="Buscar.." (keup)="searchHeadquarter()">
        <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
    </div>
</div>

<div *ngIf="listUsers?.length ==0">
    <h2>Sin resultados...</h2>
</div>
<table class="table table-hover table-responsive" *ngIf="listUsers?.length >0">
    <thead>
        <tr>
            <th class="columna">Id</th>
            <th class="columna">Nombre</th>
            <th class="columna">Apellido</th>
            <th class="columna">Email</th>
            <th class="columna">Tipo-Usuario</th>
            <th class="columna">Modificar</th>
            <th class="columna">Eliminar</th>
        </tr>
    </thead>
    <tbody id="myTable">
        <tr *ngFor="let item of listUsers; let i = index;">
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.tipoDeUsuario }}</td>
            <td style="cursor: pointer; text-align: center;">
                <button class="btn btn-warning" title="Modificar" (click)="selectRow(item)">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" title="Eliminar" (click)=deleteUser(item.id)>
                    <i class="fas fa-backspace"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<br>

<!-- <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script> -->